.benefits {
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--alternative-background-color);
    margin-bottom: 30px;
  }
  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

        &__text {
                font-size: 14px;
                line-height: 1.71;
              }

  &__item {
    display: block;
    // width: 270px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 60px;
    }}

}
//   padding-top: 94px;
//   padding-bottom: 94px;

//   &__list {
//     display: flex;
//   }


//   }

//   &__title {
//     color: var(--title-text-color);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//     margin-bottom: 10px;
//   }

// 

//   &__thumb {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 120px;
//     background-color: var(--alternative-background-color);
//     margin-bottom: 30px;
//   }
