.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0px;
  text-align: center;

//   &__container {
//     display: flex;
//     align-items: baseline;
//   }
&__contacts-box {
  @include tablet {
    display: flex;
    align-items: flex-start;
  }
}
&__logo {
    margin-bottom: 20px;
}

  &__adress-block {
 
    margin-bottom: 60px;
    width: 50%;
    // margin-right: 70px;
  }

//   &__logo {
//     margin-bottom: 28px;
//   }

  &__social-block {

    margin-bottom: 60px;
    width: 50%;
//     // display: block;
//     width: 206px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--alternative-text-color);
    margin-bottom: 20px;
  }

//   &__links-list {
//     justify-content: space-between;
//   }
}
