.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &--closing {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  // &__selected {
  //   fill: inherit;
  //   &:focus,
  //   &:hover {
  //     fill: var(--accent-color);
  //   }
  // }
  // & &__selected:hover,
  // & &__selected:focus {
  //   fill: var(--accent-color);
  // }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
